*.log
.DS_Store
Thumbs.db

.env
.env.*.local
.env.backup
.env.production
auth.json

node_modules
vendor

public/build
public/hot
public/storage

storage/*.key
storage/pail
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

coverage
.phpunit.result.cache
.phpunit.cache

.phpactor.json
.fleet
.idea
.nova
.vscode/*
!.vscode/settings.json
.zed
.cursor

Homestead.json
Homestead.yaml
